body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 16px;
  color: #000000;
  padding: 0 10px;
  font-family: 'Lora', serif;
  text-align: justify;
  background-color: #FFFFFF;
}

h1, h2, h3 {
  line-height: 1.2;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #4078c0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
