body {
  margin: 40px auto;
  max-width: 700px;
  line-height: 1.6;
  font-size: 16px;
  color: #000000;
  font-family: 'Lora', serif;
  text-align: justify;
  background-color: #f4f4f4;
}

.photo {
  width: 100%;
}

.text {
  clear: both;
  position: relative;
  margin: 40px 40px 40px 40px;
}

h1, h2, h3 {
  line-height: 1.2;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #4078c0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu {
  font-size: 18px;
  color: #808080;
}

.menu a {
  color: #808080;
}

h1 a {
  color: #000000;
}

.opening{
  font-family: 'Source Sans Pro', sans-serif;
}

.white{
  width: 100%;
  background-color: #FFFFFF;
  clear: both;
}

@media screen and (max-width: 800px) {
  body{
    text-align:left;
  }
  img{
    display: none;
  }
  .titles{
    text-align:center;
  }
  .text {
    margin: 20px 20px 20px 20px;
  }
}